html { 
  overflow-y: scroll; 
}

body {
  padding-top: 50px;
}
.basic-template {
  padding: 40px 15px;
}

td.fee {
	padding-left: 5px;
	padding-right: 5px;
}

.grid { margin:1em auto; border-collapse:collapse }
.grid td {
    cursor:pointer;
    width:30px; height:30px;
    border:1px solid #ccc;
    text-align:center;
    font-family:sans-serif; font-size:13px
}
.grid td.clicked {
    background-color:red;
    font-weight:bold; color:red;
}

.tilegrid { border-collapse:collapse }
.tilegrid td {
    cursor:pointer;
}
.tilegrid td.clicked {
    background-color:red;
    font-weight:bold; color:red;
}

div#hp {
	text-align: center;
	font-weight:bold;
}