html,
body { 
  height: 100%;
  overflow-y: scroll; 
}

body {
  padding-top: 50px;
}
.basic-template {
  padding: 40px 15px;
}

td.fee {
	padding-left: 5px;
	padding-right: 5px;
}

.grid { 
	margin:1em auto; 
	border-collapse:collapse;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}

.grid td {
    cursor:pointer;
    width:30px; height:30px;
    border:1px solid #ccc;
    text-align:center;
    font-family:sans-serif; font-size:13px
}
.grid td.clicked {
    background-color:red;
    font-weight:bold; color:red;
}

.tilegrid { border-collapse:collapse }
.tilegrid td {
    cursor:pointer;
}
.tilegrid td.clicked {
    background-color:red;
    font-weight:bold; color:red;
}

div#hp {
	text-align: center;
	font-weight:bold;
}

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

#footer {
  height: 60px;
  background-color: #f5f5f5;
}

#wrap > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

.right {
  float: right;
}